body{
    background-color: #38220f;
    color: #ece0d1;
    margin: 0;
    margin-top: 0;
}


.header{
    margin-top: 0;
    font-size: 1.5rem;
    height: 10vh;
    background-color:#634832;
    text-align: center;
}

#logo{
    font-family: 'Bodoni Moda' , serif;
    margin-left: 3vh;
}

h1{
    margin: 0;
}

.options{
    margin: 3vh;
}

.option-item{
    background-color: #634832;
    height: auto;
    border-radius: 5%;
}

.option-container{
    display: grid;
    gap: 7px;
    grid-template-columns:  23vw 23vw 23vw 25vw;
}

.brew-item{
    background-color: #634832;
    height: auto;
    border-radius: 5%;
}

.brew{
    margin: 3vh;
}

.brew-container{
    display: grid;
    gap: 9px;
    grid-template-columns:  31vw 31vw 31vw;
}

.learn{
    margin: 3vh;
}

.option-item img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 1vh;
}


.brew-item img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 1vh;
}

.option-item :hover{
    transform: translateY(-1vh);
}

.brew-item :hover{
    transform: translateY(-1vh);
}

.video{
    height: 95vh;
    width: 95vw;
}

@media (max-width: 500px){

.option-container{
    display: grid;
    gap: 4vh;
    grid-template-columns: 70vw;
}

.brew-item{
    background-color: #634832;
    height: auto;
    border-radius: 5%;
}
    .brew-container{
    display: grid;
    gap: 4vh;
    grid-template-columns:  70vw;
}

.header{
    font-size: 1rem;
}

}
