body{
    background-color: #38220f;
    color: #ece0d1;
    margin: 0;
    margin-top: 0;
}


.header{
    margin-top: 0;
    height: 50px;
    background-color:#634832;
    text-align: center;
}

#logo{
    font-family: 'Bodoni Moda' , serif;
    margin-left: 3vh;
}

h1{
    margin: 0;
}

.options{
    margin: 3vh;
}

.option-item{
    background-color: #634832;
    height: 23vh;
    border-radius: 5%;
}

.option-container{
    display: grid;
    gap: 9px;
    grid-template-columns:  23vh 23vh 23vh 25vh;
}

.brew-item{
    background-color: #634832;
    height: 23vh;
    border-radius: 5%;
}

.brew{
    margin: 3vh;
}

.brew-container{
    display: grid;
    gap: 9px;
    grid-template-columns:  31vh 31vh 31vh;
}

.learn{
    margin: 3vh;
}

.option-item img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 1vh;
}


.brew-item img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 1vh;
}

.option-item :hover{
    transform: translateY(-1vh);
}

.brew-item :hover{
    transform: translateY(-1vh);
}

